/* global clearing */
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.tombol {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-right: 10px;
    position: absolute;
    z-index: 1000;
}

.tombol button {
    width: 100px;
    padding: 20px;
    text-align: center;
}
button:active{
    background: violet;
    color: #fff;
}